body {
	background-color: #333 !important;
	color: #eee;
}
.container-top {
	background: #222;
	color: #eee;
	border: none;
}
input, select{
	background: url(/img/button.png) !important;
	background-size: contain;
	color: #eee !important;
	font-weight: bold;
	text-align: center !important;
}
option {
	background: #333;
	color: #eee;
	text-align: center;
}
.row {
	background: none;
	color: #eee;
}
.col-2,.col-3,.col-4 {
	background: none !important;
}

.sortby {
	background: #434;
	padding: 20px;
}
.viewonly {
	background: #656;
}
#search{
	background: url(/img/button_long.png) !important;
	background-size: cover;
	color: #eee;
	height: 36px;
	text-align: center;
}

.props input {
	margin: 15px 0;
	width: 178px;
	background-color: #222 !important;
	color: #ddd !important;
	font-weight: bold;
}
.props {
	background: transparent;
	color: white;
	font-weight: bold;
}
.uniqueitems-select {
	background: url(/img/button_long.png) !important;
	background-size: cover;
	color: #eee;
	height: 36px;
	width: 420px;
	text-align: center;
}